@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nethereum Web Samples</h1>
    <p class="lead">Nethereum is a .net api to interact with Ethereum</p>
    <p><a href="http://nethereum.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

