<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JsonRpc.Client" version="1.0.0-rc1-3" targetFramework="net45" />
  <package id="JsonRpc.Core" version="1.0.0-rc1-3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net45" />
  <package id="System.Net.Http" version="4.0.1-beta-23516" targetFramework="net45" />
  <package id="System.Runtime.InteropServices" version="4.0.21-beta-23516" targetFramework="net45" />
</packages>