<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net451" />
  <package id="EdjCase.JsonRpc.Client" version="1.3.1" targetFramework="net451" />
  <package id="EdjCase.JsonRpc.Core" version="1.3.1" targetFramework="net451" />
  <package id="JsonRpc.Client" version="1.0.0-rc1-6" targetFramework="net451" />
  <package id="JsonRpc.Core" version="1.0.0-rc1-6" targetFramework="net451" />
  <package id="Nethereum.ABI" version="2.1.0" targetFramework="net451" />
  <package id="Nethereum.Contracts" version="2.1.0" targetFramework="net451" />
  <package id="Nethereum.Hex" version="2.1.0" targetFramework="net451" />
  <package id="Nethereum.JsonRpc.Client" version="2.1.0" targetFramework="net451" />
  <package id="Nethereum.JsonRpc.RpcClient" version="2.1.0" targetFramework="net451" />
  <package id="Nethereum.KeyStore" version="2.1.0" targetFramework="net451" />
  <package id="Nethereum.RLP" version="2.1.0" targetFramework="net451" />
  <package id="Nethereum.RPC" version="2.1.0" targetFramework="net451" />
  <package id="Nethereum.Signer" version="2.1.0" targetFramework="net451" />
  <package id="Nethereum.Util" version="2.1.0" targetFramework="net451" />
  <package id="Nethereum.Web3" version="2.1.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net451" />
  <package id="System.Net.Http" version="4.0.1-beta-23516" targetFramework="net45" />
  <package id="System.Runtime.InteropServices" version="4.0.21-beta-23516" targetFramework="net45" />
</packages>