@inherits LayoutComponentBase
@inject AuthenticationStateProvider _siweAuthenticationStateProvider;
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        <div class="top-row px-4">
            <Metamask/>
           
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

