<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link href="_content/Nethereum.Blazor/Nethereum.Blazor.bundle.scp.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_content/Nethereum.Blazor/NethereumEIP6963.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
